[submodule "lib/micropython"]
	path = lib/micropython
	url = https://github.com/micropython/micropython.git
[submodule "lib/lv_binding"]
	path = lib/lv_binding
	url = https://github.com/lvgl/lv_binding_micropython.git
[submodule "modules/fos"]
	path = modules/fos
	url = https://github.com/kankungyip/fos.git
[submodule "modules/blocklay"]
	path = modules/blocklay
	url = https://github.com/popsicleteam/blocklay-lib.git
